@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: url(mem8YaGs126MiZpBA-UFVZ0f.eot)/*tpa=http://fonts.gstatic.com/s/opensans/v17/mem8YaGs126MiZpBA-UFVZ0f.eot*/;
}
